* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

.header {
  background: url("../img/header_bg.png") no-repeat top center/cover;
  height: 50vh;
}

.container {
  max-width: 970px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header__top {
  height: 10vh;
  z-index: 2;
}

.header__top_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}
@media (min-width: 1230px) {
  .header__logo {
    padding-top: calc(5px + 5 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .header__logo {
    padding-top: calc(5px + 5 * (100vw - 320px) /1500);
  }
}

.header__top_logo_text {
  -webkit-background-clip: text;
          background-clip: text;
  color: #00e0d0;
  font-family: "Roboto - Thin";
  font-weight: 400;
  margin: 0px 0px 0px 11px;
}
@media (max-width: 767px) {
  .header__top_logo_text {
    font-size: calc(24px + 10.2 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .header__top_logo_text {
    font-size: calc(24px + 6 * (100vw / 1500));
  }
}

.header__top_burger {
  display: none;
  z-index: 3;
}

.header__top_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.header__top_list li a {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 1230px) {
  .header__top_list li a {
    padding-right: calc(10px + 10 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .header__top_list li a {
    padding-right: calc(10px + 10 * (100vw - 320px) /1500);
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40vh;
}

.header__bottom {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__bottom_container {
  max-width: 770px;
  margin: 0px auto;
}

.header__bottom_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__bottom_title {
  color: #ffffff;
  font-family: "Playfair Display - Black";
  font-weight: 400;
}
@media (max-width: 767px) {
  .header__bottom_title {
    font-size: calc(24px + 13.6 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .header__bottom_title {
    font-size: calc(24px + 8 * (100vw / 1500));
  }
}

.header__bottom_text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
@media (min-width: 1230px) {
  .header__bottom_text {
    margin-top: calc(20px + 32 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .header__bottom_text {
    margin-top: calc(20px + 32 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .header__bottom_text {
    margin-bottom: calc(20px + 32 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .header__bottom_text {
    margin-bottom: calc(20px + 32 * (100vw - 320px) /1500);
  }
}

.header__bottom_button {
  border: 1px solid #00e0d0;
}

.button button {
  font-family: "Hammersmith One";
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 1px;
}
@media (max-width: 767px) {
  .button button {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .button button {
    font-size: calc(14px + 4 * (100vw / 1500));
  }
}
@media (min-width: 1230px) {
  .button button {
    padding-top: calc(5px + 5 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .button button {
    padding-top: calc(5px + 5 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .button button {
    padding-bottom: calc(5px + 5 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .button button {
    padding-bottom: calc(5px + 5 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .button button {
    padding-left: calc(10px + 10 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .button button {
    padding-left: calc(10px + 10 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .button button {
    padding-right: calc(10px + 10 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .button button {
    padding-right: calc(10px + 10 * (100vw - 320px) /1500);
  }
}

.header__burger {
  display: none;
}
@media (max-width: 900px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    z-index: 300;
    position: relative;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 900px) {
  .header__burger:before, .header__burger:after, .header__burger span {
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    background: #fff;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 900px) {
  .header__burger:before {
    top: 0;
  }
}
@media (max-width: 900px) {
  .header__burger:after {
    bottom: 0;
  }
}
@media (max-width: 900px) {
  .header__burger span {
    top: 9px;
  }
}
@media (max-width: 900px) {
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
}
@media (max-width: 900px) {
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}
@media (max-width: 900px) {
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.header__menu {
  z-index: 20;
}
@media (max-width: 900px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6f0dca;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 80px 0px 20px 20px;
    overflow: auto;
    opacity: 0.9;
  }
}
@media (max-width: 900px) {
  .header__menu.active {
    top: 0;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 900px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 900px) and (min-width: 1230px) {
  .header__list li {
    padding-bottom: calc(20px + 10 * (100vw - 320px) /1500);
  }
}
@media (max-width: 900px) and (max-width: 1230px) {
  .header__list li {
    padding-bottom: calc(20px + 10 * (100vw - 320px) /1500);
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1230px) {
  .header__list li {
    padding-right: calc(12.5px + 12.5 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .header__list li {
    padding-right: calc(12.5px + 12.5 * (100vw - 320px) /1500);
  }
}
.header__list li:last-child {
  padding: 0px;
}
.header__link {
  color: #fff;
  font-family: "Open Sans - Semibold";
  font-size: 13px;
  text-transform: uppercase;
  padding: 4px 5px;
  border-radius: 6px;
  -webkit-transition-duration: 0.55s;
          transition-duration: 0.55s;
}
@media (max-width: 900px) {
  .header__link {
    font-size: 24px;
    color: #fff;
  }
}
.header__link:hover {
  background: #a19fb4;
  color: #fff;
  -webkit-transition-duration: 0.55s;
          transition-duration: 0.55s;
}

.story__container {
  max-width: 900px;
  margin: 0px auto;
  padding: 0px 15px;
}

.story__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1230px) {
  .story__row {
    padding-top: calc(30px + 40 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .story__row {
    padding-top: calc(30px + 40 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .story__row {
    padding-bottom: calc(30px + 40 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .story__row {
    padding-bottom: calc(30px + 40 * (100vw - 320px) /1500);
  }
}

.story__img {
  margin: 0px 5px 0px 0px;
}

@media (max-width: 850px) {
  .story__img img {
    width: 70%;
  }
}

.story__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 538px;
}

.story__title {
  color: #413d4b;
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .story__title {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .story__title {
    font-size: calc(16px + 6 * (100vw / 1500));
  }
}

.story__text {
  opacity: 0.75;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  padding: 28px 0px 1px 0px;
}

.story__text p {
  padding: 0px 0px 30px 0px;
}

.story__button button {
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-weight: 400;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #00e0d0;
}
@media (max-width: 767px) {
  .story__button button {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .story__button button {
    font-size: calc(14px + 4 * (100vw / 1500));
  }
}

@media (max-width: 767px) {
  .story__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (max-width: 767px) and (min-width: 1230px) {
  .story__img {
    margin-bottom: calc(10px + 10 * (100vw - 320px) /1500);
  }
}
@media (max-width: 767px) and (max-width: 1230px) {
  .story__img {
    margin-bottom: calc(10px + 10 * (100vw - 320px) /1500);
  }
}
.video {
  background: url("../img/video_bg.png") no-repeat top center/cover;
}

.video__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1230px) {
  .video__row {
    padding-top: calc(50px + 50 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .video__row {
    padding-top: calc(50px + 50 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .video__row {
    padding-bottom: calc(50px + 50 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .video__row {
    padding-bottom: calc(50px + 50 * (100vw - 320px) /1500);
  }
}

@media (min-width: 1230px) {
  .video__img {
    margin-bottom: calc(20px + 14 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .video__img {
    margin-bottom: calc(20px + 14 * (100vw - 320px) /1500);
  }
}

.video__title {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .video__title {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .video__title {
    font-size: calc(14px + 2 * (100vw / 1500));
  }
}

.expertise__container {
  max-width: 910px;
  margin: 0px auto;
  padding: 0px 15px;
}

.title_item {
  text-align: center;
}

.expertise__title {
  color: #413d4b;
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .expertise__title {
    font-size: calc(18px + 6.8 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .expertise__title {
    font-size: calc(18px + 4 * (100vw / 1500));
  }
}
@media (min-width: 1230px) {
  .expertise__title {
    margin-top: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .expertise__title {
    margin-top: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .expertise__title {
    margin-bottom: calc(14px + 2 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .expertise__title {
    margin-bottom: calc(14px + 2 * (100vw - 320px) /1500);
  }
}

.expertise__text {
  opacity: 0.75;
  color: #2f2d35;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
}

.expertise__row {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 1230px) {
  .expertise__row {
    padding-top: calc(50px + 50 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .expertise__row {
    padding-top: calc(50px + 50 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .expertise__row {
    padding-bottom: calc(50px + 50 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .expertise__row {
    padding-bottom: calc(50px + 50 * (100vw - 320px) /1500);
  }
}

.expertise__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  border: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.expertise__item_1 {
  border-top: none;
  border-left: none;
}

.expertise__item_2 {
  border-top: none;
  border-right: none;
}

.expertise__item_3 {
  border-left: none;
  border-bottom: none;
}

.expertise__item_4 {
  border-right: none;
  border-bottom: none;
}

.expertise__item_5 {
  border-top: none;
}

.expertise__item_6 {
  border-bottom: none;
}

.expertise__item_img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media (min-width: 1230px) {
  .expertise__item_img {
    padding-top: calc(15px + 20 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .expertise__item_img {
    padding-top: calc(15px + 20 * (100vw - 320px) /1500);
  }
}

.expertise__item_title {
  color: #413d4b;
  font-family: "Roboto - Black";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 1230px) {
  .expertise__item_title {
    padding-top: calc(20px + 15 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .expertise__item_title {
    padding-top: calc(20px + 15 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .expertise__item_title {
    padding-bottom: calc(15px + 10 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .expertise__item_title {
    padding-bottom: calc(15px + 10 * (100vw - 320px) /1500);
  }
}

.expertise__item_text {
  opacity: 0.75;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
@media (min-width: 1230px) {
  .expertise__item_text {
    padding-bottom: calc(15px + 20 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .expertise__item_text {
    padding-bottom: calc(15px + 20 * (100vw - 320px) /1500);
  }
}

@media (max-width: 767px) {
  .expertise__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .expertise__item_2 {
    border-right: 1px solid #eeeeee;
    border-left: none;
  }
  .expertise__item_3 {
    border-right: none;
  }
  .expertise__item_5 {
    border-right: none;
  }
  .expertise__item_6 {
    border-left: none;
  }
}
@media (max-width: 530px) {
  .expertise__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .expertise__item {
    border: none;
    border-top: 2px solid #eeeeee;
  }
}
.meet {
  background: url("../img/meet_bg.png") no-repeat top center/cover;
}

@media (min-width: 1230px) {
  .meet__body {
    padding-top: calc(30px + 38 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .meet__body {
    padding-top: calc(30px + 38 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .meet__body {
    padding-bottom: calc(30px + 38 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .meet__body {
    padding-bottom: calc(30px + 38 * (100vw - 320px) /1500);
  }
}

.meet__title {
  color: #ffffff;
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .meet__title {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .meet__title {
    font-size: calc(16px + 6 * (100vw / 1500));
  }
}

.meet__text {
  color: #f9f9f9;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 1230px) {
  .meet__text {
    padding-top: calc(10px + 6 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .meet__text {
    padding-top: calc(10px + 6 * (100vw - 320px) /1500);
  }
}

.meet__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1230px) {
  .meet__row {
    padding-top: calc(30px + 38 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .meet__row {
    padding-top: calc(30px + 38 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .meet__row {
    padding-bottom: calc(30px + 38 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .meet__row {
    padding-bottom: calc(30px + 38 * (100vw - 320px) /1500);
  }
}

.meet__item {
  max-width: 220px;
  border: 1px solid #ffffff;
}

.meet__name {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 1230px) {
  .meet__name {
    padding-top: calc(15px + 5 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .meet__name {
    padding-top: calc(15px + 5 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .meet__name {
    padding-bottom: calc(10px + 2 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .meet__name {
    padding-bottom: calc(10px + 2 * (100vw - 320px) /1500);
  }
}

.meet__surname {
  opacity: 0.7;
  color: #fafafa;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 1230px) {
  .meet__surname {
    padding-bottom: calc(15px + 5 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .meet__surname {
    padding-bottom: calc(15px + 5 * (100vw - 320px) /1500);
  }
}

.meet__subtitle {
  color: #f3f3f3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
@media (min-width: 1230px) {
  .meet__subtitle {
    padding-bottom: calc(13px + 13 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .meet__subtitle {
    padding-bottom: calc(13px + 13 * (100vw - 320px) /1500);
  }
}

.button_ {
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  width: 140px;
  border: 1px solid #00e0d0;
  margin: 0px auto;
}

@media (max-width: 966px) {
  .meet__body {
    padding: 30px 0px;
  }
  .meet__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0px;
  }
  .meet__item {
    margin: 10px 10px;
  }
}
.work__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1230px) {
  .work__body {
    padding-top: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .work__body {
    padding-top: calc(35px + 35 * (100vw - 320px) /1500);
  }
}

.work__item_1 {
  color: #413d4b;
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .work__item_1 {
    font-size: calc(18px + 6.8 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .work__item_1 {
    font-size: calc(18px + 4 * (100vw / 1500));
  }
}

.work__item_2 {
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  background: url("../img/work_row.png") 165px 1px no-repeat top center/cover;
}
@media (min-width: 1230px) {
  .work__item_2 {
    padding-right: calc(15px + 5 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .work__item_2 {
    padding-right: calc(15px + 5 * (100vw - 320px) /1500);
  }
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 1230px) {
  .work__row {
    padding-top: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .work__row {
    padding-top: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .work__row {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .work__row {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1500);
  }
}

.work__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666%;
          flex: 0 0 16.666%;
  height: 200px;
}

.work__item img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1230px) {
  .work__button {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .work__button {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1500);
  }
}

.button__ button {
  font-family: "Hammersmith One";
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px auto;
  border: 1px solid #00e0d0;
}
@media (max-width: 767px) {
  .button__ button {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .button__ button {
    font-size: calc(14px + 2 * (100vw / 1500));
  }
}
@media (min-width: 1230px) {
  .button__ button {
    padding-top: calc(5px + 5 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .button__ button {
    padding-top: calc(5px + 5 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .button__ button {
    padding-bottom: calc(5px + 5 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .button__ button {
    padding-bottom: calc(5px + 5 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .button__ button {
    padding-left: calc(10px + 10 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .button__ button {
    padding-left: calc(10px + 10 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .button__ button {
    padding-right: calc(10px + 10 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .button__ button {
    padding-right: calc(10px + 10 * (100vw - 320px) /1500);
  }
}

@media (max-width: 1450px) {
  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}
@media (max-width: 1100px) {
  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 500px) {
  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.people {
  background: url("../img/people_bg.png") no-repeat top center/cover;
}
@media (min-width: 1230px) {
  .people {
    padding-top: calc(25px + 30 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .people {
    padding-top: calc(25px + 30 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .people {
    padding-bottom: calc(25px + 30 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .people {
    padding-bottom: calc(25px + 30 * (100vw - 320px) /1500);
  }
}

.people__container {
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 15px;
}

.people__title {
  color: #ffffff;
  font-family: "Playfair Display";
  font-weight: 400;
  opacity: 0.9;
}
@media (max-width: 767px) {
  .people__title {
    font-size: calc(50px + 85 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .people__title {
    font-size: calc(50px + 50 * (100vw / 1500));
  }
}

.people__text {
  color: #ffffff;
  font-family: "Playfair Display";
  line-height: 26px;
  font-weight: 400;
  opacity: 0.85;
}
@media (max-width: 767px) {
  .people__text {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .people__text {
    font-size: calc(14px + 2 * (100vw / 1500));
  }
}
@media (min-width: 1230px) {
  .people__text {
    padding-bottom: calc(20px + 25 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .people__text {
    padding-bottom: calc(20px + 25 * (100vw - 320px) /1500);
  }
}

.people__name {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 22px;
}

.people__surname {
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  opacity: 0.7;
}
@media (min-width: 1230px) {
  .people__surname {
    padding-bottom: calc(15px + 10 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .people__surname {
    padding-bottom: calc(15px + 10 * (100vw - 320px) /1500);
  }
}

.people__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.people__item {
  padding: 0px 9px;
}

@media (max-width: 424px) {
  .people__row {
    display: none;
  }
}
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1230px) {
  .contact__row {
    padding-top: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .contact__row {
    padding-top: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .contact__row {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .contact__row {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1500);
  }
}

.contact__title {
  color: #413d4b;
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .contact__title {
    font-size: calc(18px + 6.8 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .contact__title {
    font-size: calc(18px + 4 * (100vw / 1500));
  }
}

.news__item_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1230px) {
  .news__item_row {
    padding-top: calc(25px + 22 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .news__item_row {
    padding-top: calc(25px + 22 * (100vw - 320px) /1500);
  }
}

@media (min-width: 1230px) {
  .news__item_input {
    padding-bottom: calc(17px + 6 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .news__item_input {
    padding-bottom: calc(17px + 6 * (100vw - 320px) /1500);
  }
}

.news__item_input input {
  opacity: 0.5;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  width: 460px;
  border: 1px solid #000000;
  line-height: 45px;
  padding: 0px 0px 0px 20px;
}

.news__item_text {
  padding: 0px 0px 23px 0px;
}

.news__item_text textarea {
  opacity: 0.5;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  width: 460px;
  border: 1px solid #000000;
  height: 200px;
  padding: 22px 0px 0px 20px;
}

.button___ {
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  width: 120px;
  border: 1px solid #00e0d0;
  text-align: center;
}

.client_item_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_item_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (min-width: 1230px) {
  .client_item_img {
    padding-top: calc(25px + 22 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .client_item_img {
    padding-top: calc(25px + 22 * (100vw - 320px) /1500);
  }
}

@media (max-width: 950px) {
  .contact__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
  }
}
@media (max-width: 950px) and (min-width: 1230px) {
  .contact__row {
    padding-top: calc(15px + 15 * (100vw - 320px) /1500);
  }
}
@media (max-width: 950px) and (max-width: 1230px) {
  .contact__row {
    padding-top: calc(15px + 15 * (100vw - 320px) /1500);
  }
}
@media (max-width: 950px) and (min-width: 1230px) {
  .contact__row {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1500);
  }
}
@media (max-width: 950px) and (max-width: 1230px) {
  .contact__row {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1500);
  }
}
@media (max-width: 950px) {
  .client_item {
    padding: 20px 0px;
  }
  .news__item {
    padding: 0px;
  }
  .news__item_row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 550px) {
  .news__item_text textarea, .news__item_input input {
    width: 300px;
  }
}
@media (max-width: 400px) {
  .client_item_img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 35px 0px 0px 0px;
  }
}
.footer {
  background: url("../img/footer_bg.png") no-repeat top center/cover;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1230px) {
  .footer__row {
    padding-top: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .footer__row {
    padding-top: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (min-width: 1230px) {
  .footer__row {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1500);
  }
}
@media (max-width: 1230px) {
  .footer__row {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1500);
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item_1 {
  max-width: 300px;
}

.footer__item_2 {
  max-width: 270px;
}

.footer__item_3 {
  max-width: 290px;
}

.footer__what {
  padding: 27px 0px 55px 0px;
}

.footer__text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 26px;
}

.no_bold {
  font-weight: 300;
}

.footer__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bold {
  font-weight: 400;
}

.footer__item_title {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  padding: 10px 0px 0px 0px;
}

.footer__contact {
  padding: 38px 0px 0px 0px;
}

.footer__contact li {
  padding: 0px 0px 27px 30px;
}

.footer__contact__1 {
  background: url("../img/footer1.png") 0px 3px no-repeat;
}

.footer__contact__2 {
  background: url("../img/footer2.png") 0px 3px no-repeat;
}

.footer__message_item {
  padding: 42px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__message {
  color: #000;
  opacity: 0.75;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  padding: 10px 10px 10px 15px;
  border-radius: 2px;
  height: 45px;
}

.footer__send button {
  width: 70px;
  height: 45px;
  background: #a098b2;
  /*text-align: center;*/
  margin: 0px 5px;
  border-radius: 2px;
}

.footer__send img {
  /*padding: 10px 0px 0px 0px;*/
}

.footer__links {
  padding: 27px 0px 46px 0px;
  margin: 0px -2.5px;
}

.footer__links img {
  padding: 0px 2.5px;
}

@media (max-width: 870px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 400px;
    margin: 0px auto;
  }
  .footer__item {
    padding: 50px 0px 0px 0px;
  }
  .footer__item_1 {
    max-width: 100%;
  }
  .footer__item_2 {
    max-width: 100%;
  }
  .footer__item_3 {
    max-width: 100%;
  }
  .footer__links {
    padding: 10px 0px 10px 0px;
  }
  .footer__message_item {
    padding: 10px 0px 10px 0px;
  }
  .footer__contact {
    padding: 10px 0px 0px 0px;
  }
  .footer__contact li {
    padding: 0px 0px 10px 30px;
  }
  .footer__what {
    padding: 10px 0px 10px 0px;
  }
}